<panel panel-title="Reported Adverse Events" panel-class='default' expand="true">

  <table class="table">
    <tbody>
      <tr ng-repeat="datum in drug.event_data">
        <th>{{datum.term}}</th>
        <td>{{datum.count}}</td>
      </tr>
    </tbody>
  </table>
  <p ng-show="drug.event_data.length==0"><em>None Found</em></p>

  <table class="table" ng-show="events.length > 0">
    <thead>
      <tr>
        <th>Date Received</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events">
        <td>{{event.receivedate}}</td>
        <td>
          <div ng-repeat="reaction in event.patient.reaction">
          {{reaction.reactionmeddrapt}}
          </div>
        </td>
        <td>
          <div ng-repeat="pdrug in event.patient.drug">
          {{pdrug.medicinalproduct}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</panel>