<panel panel-title="Reported Adverse Events" panel-class='default' expand="true">

  <p class="text-muted">Represents serious adverse events (those resulting in death, a life threatening condition, hospitalization, disability, etc.)</p>

  <div barChart series="drug.event_data" click-target="drillOnEvent"></div>
  <p ng-show="!drug.event_data.length"><em>None Found</em></p>
  
  <div ng-show="eventsDetail.event_details.length > 0">
    <hr>
    <p class="text-muted pull-right">Limited to 10 results</p>
    <h3>Events Detail</h3>      
          
    <table class="table" >
      <thead>
        <tr>
          <th>Date Received</th>
          <th>Patient Reactions</th>
          <th>
            Patient Drugs<br>
            <span class="text-muted"><em>* = suspect drug</em></span>
          </th>
          <th>Patient Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in eventsDetail.event_details">
          <td>
            {{event.receivedate | humanizeFdaDate}}</td>
          <td>
            <div ng-repeat="reaction in event.patient.reaction">
              {{reaction.reactionmeddrapt}}
            </div>
          </td>
          <td>
            <div ng-repeat="pdrug in event.patient.drug">
              {{pdrug.medicinalproduct}}<span ng-show="pdrug.drugcharacterization==1">*</span>
            </div>
          </td>
          <td>
            <div ng-show="event.patient.patientsex">{{event.patient.patientsex | sexToString }}</div>
            <div ng-show="event.patient.patientweight">{{event.patient.patientweight | kgToLbs }}</div>
            <div ng-show="event.patient.patientonsetage">{{event.patient.patientonsetage | ageToYrs:event.patient.patientonsetageunit }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</panel>