<panel panel-title="Alternative Drugs" panel-class='default' expand="true">
  <h4>Generic Alternatives</h4>
  <ul>
    <li ng-repeat="gen in drug.generics_list">
      <a href="#/drug/{{gen.product_ndc}}">
        {{gen.proprietary_name}}
      </a>
    </li>
  </ul>
  <p ng-show="drug.generics_list.length==0"><em>None Found</em></p>
  <h4>
    Drugs of Same Class 
    <br><em class="text-pharm-class">{{drug.openfda.pharm_class_epc[0]}}</em>
  </h4>
  <ul>
    <li ng-repeat="same_class in drug.same_class_list">
      <strong><a href="" ng-click="navigateToDrug(same_class.product_ndc[0])">{{same_class.brand_name[0]}}</a></strong>
      <span class="text-generic">{{same_class.generic_name[0]}}</span>
    </li>
  </ul>
  <p ng-show="drug.same_class_list.length==0"><em>None Found</em></p>
</panel>

<panel panel-title="Pricing Information" panel-class='default' expand="true">
  <p ng-show="drug.nadac.length==0"><em>None Found</em></p>
  <table ng-show="drug.nadac.length>0" class="table">
    <thead>
      <tr>
        <th>Packaging</th>
        <th class="text-right">Price/Unit</th>
        <th class="text-right">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="price in drug.nadac">
        <td>{{price.ndc_description}}</td>
        <td class="text-right">{{price.nadac_per_unit | currency}}</td>
        <td class="text-right">{{price.pricing_unit}}</td>
      </tr>
    </tbody>
  </table>
  <small>Source: <a href="http://www.medicaid.gov/Medicaid-CHIP-Program-Information/By-Topics/Benefits/Prescription-Drugs/Pharmacy-Pricing.html">Medicaid National Average Drug Acquisition Cost (NADAC)</a></small>
</panel>