<panel panel-title="Alternative Drugs" panel-class='default' expand="true">
  
  <div class="pull-right">
    <a ng-href="#/viz/Drug/{{drug.product_ndc}}"
          class="btn btn-primary" title="Browse in Visual Explorer">
          <span class="fa fa-sitemap"></span>
        </a>
  </div>

  <h4>Generic Alternatives</h4>
  <ul class="generic-list">
    <li ng-repeat="gen in drug.generics_list">
      <strong><a href="" ng-click="navigateToDrug(gen.product_ndc)">
        {{gen.proprietary_name}}
      </a></strong>
    </li>
  </ul>
  <p ng-show="drug.generics_list.length==0"><em>None Found</em></p>
  
  <hr>
  <h4>Drugs of Same Class</h4>
  <div ng-repeat="pclass in drug.pharma_classes" ng-show="pclass.type=='establisheds'">
    <strong>{{pclass.class_name}}</strong>
    <ul class="alternative-list">
      <li ng-repeat="pdrug in pclass.drugs">
        <div><strong><a href="" ng-click="navigateToDrug(pdrug.product_ndc)">{{pdrug.proprietary_name}}</a></strong></div>
        <div class="text-muted"><small>{{pdrug.nonproprietary_name}}</small></div>
      </li>
    </ul>
  </div>

  <p ng-show="drug.same_class_list.length==0"><em>None Found</em></p>
</panel>

