<panel panel-title="Alternative Drugs" panel-class='default' expand="true">
  <ul>
    <li ng-repeat="gen in drug.generics_list">{{gen}}</li>
  </ul>
  <p ng-show="drug.generics_list.length==0"><em>None Found</em></p>
</panel>

<panel panel-title="Pricing Information" panel-class='default' expand="true">
  <table class="table">
    <thead>
      <tr>
        <th>Packaging</th>
        <th class="text-right">Price/Unit</th>
        <th class="text-right">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="price in drug.nadac">
        <td>{{price.ndc_description}}</td>
        <td class="text-right">{{price.nadac_per_unit | currency}}</td>
        <td class="text-right">{{price.pricing_unit}}</td>
      </tr>
    </tbody>
  </table>
  <small>Source: <a href="http://www.medicaid.gov/Medicaid-CHIP-Program-Information/By-Topics/Benefits/Prescription-Drugs/Pharmacy-Pricing.html">Medicaid National Average Drug Acquisition Cost (NADAC)</a></small>
</panel>