<script type="text/ng-template" id="typeaheadTemplate.html">
  <a> 
  <!-- Put the query value and fix the formatting -->
    <span class="em quick-search-result" ng-bind-html="match.model.proprietary_name | typeaheadHighlight:query">{{match.model.proprietary_name | typeaheadHighlight:query   }}</span>
    <span class="small">({{match.model.nonproprietary_name}})</span>
  </a>
</script>
<form>
    <div class="input-group">
      <input type="text" class="form-control" name="quickSearch" id="quickSearch"
        placeholder="{{searchPlaceholder}}" 
        ng-model="selectedLabel" 
        typeahead="drug as drug.proprietary_name for drug in searchDrugs($viewValue)" 
        typeahead-loading="loadingSearchResults"
        typeahead-template-url="typeaheadTemplate.html"
        typeahead-on-select="onSelect($item, $model, $label)" >
      <span class="input-group-btn">
        <button class="btn btn-default" 
          type="submit" ng-click="getDetail()" style="padding-top:7px;">Go!</button>
      </span>
    </div><!-- /input-group -->
</form>
