/*
 * Custom Headlines (i.e. drug title area)
 */

.headline {
  background-color: #6f5499;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.headline h1 {
  margin-top: 10px;
  color: #fff;
}
.headline .subhead {
  text-align: right;
  vertical-align:middle;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ddd;
}
.headline .search {
  margin-top:10px;
}
.headline-button {
    margin-top: 10px;
  margin-bottom: 10px;
}


table.table-borderless tbody tr td, table.table-borderless tbody tr th {
  border: 0px;
} 

ul.alternative-list, ul.generic-list {
  padding-left:0px;
}
ul.alternative-list li, ul.generic-list li {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.5em;
}
ul.alternative-list li{
  line-height: 0.9em;
}

/* Trim long paragraphs with ellispis */
.trim-info {
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
  position: relative;
}

/* ------------------
        Search 
------------------ */

.quick-search-brand, .quick-search-generic {
    /* Too much text should be represented as ellipses */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

	display: inline-block;
}

.search-no-records {
	position: absolute;
	background: rgb(252, 253, 198);
	border: 1px solid rgb(255, 128, 128);
	font-style: italic;
	bottom: -40px;
	left: 0;
	padding: 7px;
}
.search-no-records:after, .search-no-records:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search-no-records:after {
	border-color: rgba(255, 128, 128, 0);
	border-bottom-color: rgb(255, 128, 128);
	border-width: 5px;
	margin-left: -5px;
}
.search-no-records:before {
	border-color: rgba(252, 253, 198, 0);
	border-bottom-color: rgb(252, 253, 198);
	border-width: 6px;
	margin-left: -6px;
}
/* ------------------
        Viz 
------------------ */

/* Headings */
h1.compact {
  margin-top:0px;
  margin-bottom:5pm;
}
.container.viz {
  margin-top:-10px;
}
.tree-container{
  margin-left:-20px;
  margin-right:-20px;
}
