


/* consistent coloring for generic & class text */
.text-generic { 
  color: #337ab7;
}
.text-pharm-class {  
  color: #31708f;
}

/* Trim long paragraphs with ellispis */
.trim-info {
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  line-height: 15px;
  position: relative;
}

/* SVG - Bar chart directives */

.bar { 
  fill: rgb(31, 119, 180);
}

.bar:hover { 
  fill: rgb(61, 149, 210);
}

.bar-label { 
  fill: #eeeeee; /* not 'color' because it is a SVG element */
}

.bar-value { 
  fill: #000000; /* not 'color' because it is a SVG element */
}